# System
.DS_Store

# Node
node_modules/

# Lerna
dist/

*.log

# Build files
.cache

# Editors & IDEs
.idea/

# Don't prettify docs
CHANGELOG.md
docs

# TODO: Eventually we'll Prettify MD and HTML files
*.MD
*.md
*.html

## Project specific ignores
integrations/runkit/src/webframe.ts
integrations/vaultrice-voting/src/script.raw.js